.vs/

HRBackend.Apllication/bin
HRBackend.Apllication/obj

HRBackend.Persistence/bin
HRBackend.Persistence/obj

HRBackend.Web/bin
HRBackend.Web/obj

HRBackend/bin
HRBackend/obj

HRBackend.Apllication/obj
HRBackend.Apllication/obj

HRBackend.Persistence/bin
HRBackend.Persistence/bin