.vs/

HRBackend.Application/bin
HRBackend.Application/obj

HRBackend.Persistance/bin
HRBackend.Persistance/obj

HRBackend.Web/bin
HRBackend.Web/obj

HRBackend/bin
HRBackend/obj

HRBackend.Persistence/obj
HRBackend.Apllication/obj